@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .tl-content p, .f3 {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .tl-content, .tl-year {
    display: none;
  }

  .tl-item {
    background: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manjari', sans-serif;
}

#logo {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
}

#logo img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#logo:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.navbar-light {
  box-shadow: none;
}

.navShadow {
  box-shadow: 0px 15px 10px -15px #111;
}

.navbar-brand {
  color: black;
  padding-top: 15px;
  margin-bottom: 1px;
}

.scrolled {
  background-color: white;
  transition: 1s;
}

.navbar-brand:hover {
  color: black;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: black;
  text-decoration: none;
}

i {
  color: black;
}

body {
  font-size: 16px;
  line-height: 1.75;
}

#timeline {
  display: flex;
  background-color: #031625;
}

#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
  width: 30% !important;
}

.tl-year {
  text-decoration: line-through;
}

.tl-item:hover .tl-year {
  text-decoration: none;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}

.tl-content h1 {
  font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  /* border-top: 1px solid #fff; */
  /* border-bottom: 1px solid #fff; */
}

.tl-year p {
  font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.728rem;
}

.tl-year:hover p {
  /* line-height: 0; */
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.card {
  border-radius: 0;
  cursor: pointer;
  border-style: none;
  border: none;
}

.card-img-overlay {
  background-color: white;
  opacity: 0.5;
}

#assumption, #mona-lisa, #primavera, #sistine, #venus, #creation-of-adam, #judas, #judgement, #last-supper, #school-athens, #cristo, #david, #hercules, #madonna-of-bruges, #moses, #pieta, #slaves, #st-petronius, #judith {
  display: none;
}

#allegory, #beheading, #elevation, #aeneas, #ecstasy, #carlo, #graces {
  display: none;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.page-foot {
  height: 100px;
}

.fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#regButton {
  padding: 5px;
  margin: auto;
  background-color: #1c2331;
  color: white;
  font-weight: bold;
}

.card {
  box-shadow: none;
}

.alert {
  text-align: center;
  margin-bottom: auto;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}
